@import "./styles/colors";

body {
  margin: 0;
  font-family: sans-serif;
  background-color: $themeBackground;
  color: $themeColor;

  #root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
