.delaySearchFieldContainer {
  position: relative;

  .iconContainer {
    pointer-events: none;
    display: grid;
    align-items: center;
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;

    .icon {
      color: grey;
    }
  }

  .delaySearchField {
    font-size: 1.6rem;
    padding: 4px 4px 4px 40px;
    width: calc(100% - 2 * 8px);
    margin: 8px;
  }
}
