.fileControl {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "video" "subtitles";
  margin-top: 24px;

  .selectVideoButton {
    grid-area: video;
  }
  .selectSubtitlesButton {
    grid-area: subtitles;
  }
}
