.fileControl {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "video" "subtitles";
  margin-top: 24px;

  .selectVideoButton {
    grid-area: video;
  }
  .selectSubtitlesButton {
    grid-area: subtitles;
  }
  .selectVideoButton, .selectSubtitlesButton {
    font-size: 1.4rem;
    padding: 12px 12px;
    margin-bottom: 4px;
    display: flex;
    span {
      margin-left: 16px;
    }
  }
}
